@{

}
<div class="row">
    <div class="col-md-3">
        <span><a href="@Url.Action("Index", "Home")" class="btn btn-info">首页</a></span>
        <span><a href="@Url.Action("Authorize", "Home")" class="btn btn-info">授权</a></span>
        <span><a href="@Url.Action("Clear", "Home")" class="btn btn-info">清空</a></span>
    </div>
</div>

