@{

}
<div class="row">
    <div class="col-md-3">
        <span><a href="@Url.Action("Index", "Home")" class="btn btn-info">Home</a></span>
        <span><a href="@Url.Action("Authorize", "Home")" class="btn btn-info">Authorize</a></span>
        <span><a href="@Url.Action("Reset", "Home")" class="btn btn-info">Reset</a></span>
    </div>
</div>

