@using Demos.Web.Models
@{
    var userInfo = GetUserInfo();
}
@functions {
    private UserInfo GetUserInfo()
    {
        var currentUser = DemoHelper.CurrentUser;
        if (currentUser != null)
        {
            return currentUser;
        }
        
        var userInfo = new UserInfo();
        userInfo.UserId = string.Empty;
        userInfo.Username = "Unknown";
        userInfo.HeadUrl = Url.Content("~/Content/images/user_anonymous.png");
        return userInfo;
    }
}

<h2>UserInfo</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="UserId" class="col-sm-2 control-label">UserId</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="UserId" disabled="disabled" value="@userInfo.UserId">
                </div>
            </div>
            <div class="form-group">
                <label for="Username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Username" placeholder="Username" disabled="disabled" value="@userInfo.Username">
                </div>
            </div>
            <div class="form-group">
                <label for="Username" class="col-sm-2 control-label">CreateDate</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CreateDate" placeholder="CreateDate" disabled="disabled" value="@userInfo.CreateDate.ToFormat()">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="@userInfo.HeadUrl" id="HeadUrl" alt="" style="height: 128px; width: 128px;" class="img-thumbnail" />
    </div>
</div>

